.mars {
  position: absolute;
  top: -8px;
  left: 0;
  height: 650px;
  width: 100%;
  background-image: url(../../../public/img/марс.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}