.addTaskBtn {
  color: #ED903A;
  font-size: 14px;
  border: none;
  background: none;
  padding-left: 34px;
  outline: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    width: 14px;
    height: 14px;
    background-image: url(../../assets/svg/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}