// Fonts
@font-face {
	font-family: SIFU;
	src: url(./../../public/fonts/sf-ui-display-medium-58646be638f96.woff);
	font-weight: 400;
}

// Colors
$darkPurple: #1F1B2C;
$white: #fff;

// Default styles
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

body,
html {
	min-height: 100vh
}

.body-main {
	overflow: hidden;
}

#root {
	min-height: 100vh;
	position: relative;
	color: #fff;
	background: #1F1B2C;

	&::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../public/img/stars.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 205px;
		z-index: -1;
  }
}

.container {
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
}

#id {
	background-color: #fff;
}

.app {
	position: relative;
	overflow: hidden;
	font-family: SIFU;
	color: $white;
	background-color: $darkPurple;
	min-height: 100vh;
	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		background-image: url(./../../public/img/stars.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 203px;
		width: 100%;
		top: 0;
		left: 0;
	}
}

.vkuiAppRoot {
	height: 100vh !important;
}

.vkuiInternalPanel__in {
	padding: 0 !important;
}

.vkuiPanelHeader__in {
	background: transparent !important;
}

.vkuiPanel .vkuiPanel__in, .vkuiPanel:before {
	background: transparent !important;
}

.vkuiPanelHeader__content {
	padding: 0 !important;
}