// Fonts
@font-face {
	font-family: SIFU;
	src: url(./../../public/fonts/sf-ui-display-medium-58646be638f96.woff);
	font-weight: 400;
}

// Colors
$darkPurple: #1F1B2C;
$white: #000;

// Default styles
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

body,
html {
	min-height: 100vh
}

body {
	overflow: hidden;
	font-family: SIFU;
	color: $white;
}

.body-main {
	background-color: $darkPurple;
}

#root {
	min-height: 100vh;
}

.container {
	padding: 0 10px;
	max-width: 100%;
	margin: 0 auto;
}