.vkuiCellButton {
  padding: 0;
  background: #ED903A;
  color: #fff;
  min-height: 125px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;

  .vkuiSimpleCell__middle {
    padding: 0;
  }

  .vkuiTypography {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .MyChallenge__img-box {
    height: 125px;
    width: 125px;
    background-image: url(../../assets/img/space-man.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.animation-box-right {
  opacity: 0 !important;
  
  &--first {
    animation: fadeIn 1.4s ease-in-out forwards;
  }

  &--second {
    animation: fadeIn 1.4s ease-in-out forwards;
  }
}

.animation-box-left {
  opacity: 0 !important;

  &--first {
    animation: fadeIn 1.4s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}